---
import Card from "@components/Card.astro"
import CardGrid from "@components/CardGrid.astro"
import Fren from "@components/Fren.astro"
import { frens, works } from "@constants"
import Layout from "@layouts/Main.astro"
---

<Layout>
	<>
		<h2>Hi, I'm <b>maize!</b></h2>
	</>

	<>
		<p>
			I am a selftaught hobbyist programmer. I make varying things,
			but primarily websites and software. I just go by maize or
			tiramisu online.
		</p>
	</>

	<>
		<h3>Some friends!</h3>
		<div id="frens">
			{
				frens.map(fren => <Fren fren={fren} />)
			}
		</div>
	</>
</Layout>
<script is:inline>
	const frens = document.getElementById("frens")
	for (var i = frens.children.length; i >= 0; i--) {
		frens.appendChild(frens.children[Math.random() * i | 0])
	}
</script>